extends ../../layouts/layout.pug
block content

  h1 Map examples
  p Using #[+link('http://leafletjs.com/', 'Leafletjs')] and #[+link('https://www.openstreetmap.org', 'OpenStreetMap')]

  //- Map
  .block
    #mapbox
        p this is our map

  //- Back to Top
  .block
    p #[+link('#top', 'Back to the top')]
