extends ../../layouts/layout.pug
block content

  h1 Map examples
  p Using #[+link('http://leafletjs.com/', 'Leafletjs')] and #[+link('https://www.openstreetmap.org', 'OpenStreetMap')]
  p Notes added to ticket [WEBSITE-553]

  //- Map
  .block
    #mapbox
        p Map content is not available.

  //- Back to Top
  .block
    p #[+link('#top', 'Back to the top')]
