// Full Screen Container
.c-fs {
  @include outer-container(100%);
}

// Full Grid Width Container
.c-fg {
  @include outer-container;
}

.c-content {
  @include row();
  padding: $base-spacing-unit-small;
}

// Standard Row
.row {
  @include row();
  padding-left: $base-spacing-unit-small;
  padding-right: $base-spacing-unit-small;
}
