// Base Page Dimensions
$max-width: 768px;
$min-width: 320px;

// Base Grid Settings
$column: 80px;
$gutter: 16px;
$grid-columns: 8;

// Breakpoints
$desktop: new-breakpoint(min-width 768px);
$medium: new-breakpoint(min-width 481px);

// Visualise Grid
$visual-grid: false;
